* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FE514B;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.textAr {
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}